Repository gdsc-ys/left-web-assignment, pull requests merged in 2022-11, with the labels that each got.

#8 add react project
  GorgeousTodo/황순민/index.css
  GorgeousTodo/황순민/index.html
  GorgeousTodo/황순민/index.js
  GorgeousTodoByReact/황순민/.gitignore
  GorgeousTodoByReact/황순민/README.md
  GorgeousTodoByReact/황순민/package-lock.json
  GorgeousTodoByReact/황순민/package.json
  GorgeousTodoByReact/황순민/public/favicon.ico
  GorgeousTodoByReact/황순민/public/index.html
  GorgeousTodoByReact/황순민/public/logo192.png
  GorgeousTodoByReact/황순민/public/logo512.png
  GorgeousTodoByReact/황순민/public/manifest.json
  GorgeousTodoByReact/황순민/public/robots.txt
  GorgeousTodoByReact/황순민/src/App.css
  GorgeousTodoByReact/황순민/src/App.js
  GorgeousTodoByReact/황순민/src/App.test.js
  GorgeousTodoByReact/황순민/src/Change.jsx
  GorgeousTodoByReact/황순민/src/ToDo.jsx
  GorgeousTodoByReact/황순민/src/index.css
  GorgeousTodoByReact/황순민/src/index.js
  GorgeousTodoByReact/황순민/src/logo.svg
  GorgeousTodoByReact/황순민/src/reportWebVitals.js
  GorgeousTodoByReact/황순민/src/setupTests.js
Labels: GorgeousTodoByReact, GorgeousTodo

#9 kangseock
  GorgeousTodoByReact/윤강석/.gitignore
  GorgeousTodoByReact/윤강석/README.md
  GorgeousTodoByReact/윤강석/package-lock.json
  GorgeousTodoByReact/윤강석/package.json
  GorgeousTodoByReact/윤강석/public/favicon.ico
  GorgeousTodoByReact/윤강석/public/index.html
  GorgeousTodoByReact/윤강석/public/logo192.png
  GorgeousTodoByReact/윤강석/public/logo512.png
  GorgeousTodoByReact/윤강석/public/manifest.json
  GorgeousTodoByReact/윤강석/public/robots.txt
  GorgeousTodoByReact/윤강석/src/App.css
  GorgeousTodoByReact/윤강석/src/App.js
  GorgeousTodoByReact/윤강석/src/App.test.js
  GorgeousTodoByReact/윤강석/src/BoxContainer.js
  GorgeousTodoByReact/윤강석/src/Modal.js
  GorgeousTodoByReact/윤강석/src/addPlanComponent.js
  GorgeousTodoByReact/윤강석/src/header.js
  GorgeousTodoByReact/윤강석/src/index.css
  GorgeousTodoByReact/윤강석/src/index.js
  GorgeousTodoByReact/윤강석/src/logo.svg
  GorgeousTodoByReact/윤강석/src/planComponent.js
  GorgeousTodoByReact/윤강석/src/reportWebVitals.js
  GorgeousTodoByReact/윤강석/src/setupTests.js
Labels: GorgeousTodoByReact

#10 유상철/gorgeous todo
  GorgeousTodo/유상철/index.html
  GorgeousTodo/유상철/script.js
  GorgeousTodo/유상철/style.css
Labels: GorgeousTodo
